$color__primary: #AA1CE5;
$color__accent: #F3BE00;
$color__white: #F4F4F4;
$color__black: #252525;

$ff__body: 'Poppins', serif;
$ff__heading:'Poppins', serif;

$font__weigths: (
    regular: 400,
    semi-bold: 500,
    bold: 700
)